body {
    background-color: honeydew;
}

.game-choice {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

.game-map {
    background-color: white;
    border: 5px gray solid;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.game-map:hover {
    background-color: whitesmoke;
    border: 5px yellow solid;
    cursor: pointer;
}

.game-map img {
    width: 100%;
}

header, footer {
    text-align: center;
}

.auth,
.pause-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.auth__form {
    position: relative;
    display: block;
    width: 256px;
    height: 256px;
    background-color: white;
    border: thistle solid 3px;
    border-radius: 5px;

    text-align: center;
}

.auth__form input,
.auth__form button {
    display: block;
    margin: 5px auto 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.auth__form button {
    font-weight: bold;
    cursor: pointer;
}


.auth__form .auth__close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.auth__preview img,
.auth__preview figcaption {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0;
}



.auth__form .auth__preview img {
    height: 50px;
}

.game-field {
    height: 80vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
}

.game-status {
    position: relative;
}

.game-status ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.game-status__name,
.game-status__gametime,
.game-status__passedtime,
.game-status__lives {
    color: white;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.game-status__name {
    background-color: rgba(255,0, 0, 0.5);
}

.game-status__gametime {
    background-color: rgba(255, 165, 0, 0.5);
}

.game-status__passedtime {
    background-color: rgba(255, 255, 0, 0.5);
    color: purple;
}

.game-status__lives {
    background-color: rgba(0, 255, 0, 0.5);
    color: red;
    font-size: 2.5em;
}

.game-field {
    background-image: url("img/map-3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 20%;
    margin-bottom: 1em;
}

.pause-screen {
    display: none;
}

.pause-screen__message {
    background-color: white;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
}

.player,
.monster,
.trap {
    position: absolute;
    font-size: 42px;
    font-weight: bold;
    text-align: center;

    display: block;
    width: 50px;
    height: 50px;
    border: 5px dashed;
    border-radius: 50%;
}

.player {
    left: 10px;
    top: 50%;
    padding: 5px;
    background-color: turquoise;
}

.monster {
    left: 100px;
    top: 50%;
    padding: 5px;
    background-color: green;
    color: greenyellow;
}

.trap {
    left: 200px;
    top: 50%;
    padding: 40px;

    background-color: salmon;
    color: red;
}