body {
    background-color: honeydew;
}

.game-choice {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

.game-map {
    background-color: white;
    border: 5px gray solid;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.game-map:hover {
    background-color: whitesmoke;
    border: 5px yellow solid;
    cursor: pointer;
}

.game-map img {
    width: 100%;
}

header, footer {
    text-align: center;
}